.ti{
  background-image: radial-gradient(circle, #040405, rgb(6, 122, 255));
  border: solid rgb(6, 122, 255) 5px;
  border-radius: 20px;
  text-align: center;
  color: hwb(195 68% 10%);
}

.ti-text:hover{
  color: rgb(6, 122, 255);
  cursor: default;
}

.image{
  background-color: rgb(44, 44, 44);
  padding: 0px;
  border: 3px ridge rgb(6, 122, 255);
  width: 420px;
  height: auto;
  float: right;
  box-shadow: inset 0px 0px 25px rgb(6, 122, 255);
  border-radius: 20px;
}

.image img{
  display: block;
  width: 100%;
  margin: 0px;
  border-radius: 20px;
}

.big-image{
  background-color: rgb(44, 44, 44);
  padding: 0px;
  border: 3px ridge rgb(6, 122, 255);
  width: 100%;
  height: auto;
  float: center;
  box-shadow: inset 0px 0px 25px rgb(6, 122, 255);
  border-radius: 20px;
}

.big-image img{
  display: block;
  width: 100%;
  margin: 0px;
  border-radius: 20px;
}


body{
  background: rgb(44, 44, 44);
  color: lightskyblue;
}

h2{
  text-align: center;
  color: lightskyblue;
}

button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge rgb(6, 122, 255);
  outline: none;
  background-color: rgb(44, 44, 44);
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: rgb(44, 44, 44);
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: rgb(44, 44, 44);
  transition: 0.5s;
}

button:hover::before, button:hover::after {
  transform: scale(0)
}

button:hover {
  box-shadow: inset 0px 0px 25px rgb(6, 122, 255);
}
